*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:grid;
    place-items: center;
    grid-template-rows: repeat(2,1fr);
    min-height:100vh;
    padding:20px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

#Game_Container{
    display:grid;
    padding: 7px;
    border: 2px solid black;
    grid-template-rows: repeat(1, 1fr);
    gap:5px;
    min-height: 80%;
    max-width:100%;
}

#Player_Side{
    display:grid;
    position:center;
    flex-direction:column;
    gap:5px;
}

img{
    max-width: 150px;
    height: auto;
}

#Start{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

#Combat{
    display:none;
    grid-template-columns: repeat(3, 1fr);
}

#Shop{
    display:none;
    grid-template-columns: repeat(3, 1fr);
}

#Bag{
    display:none;
    grid-template-columns: repeat(3, 1fr);
}

#Bag_Buttons{
    display:none;
    grid-template-columns: repeat(3, 1fr);
}

#Player{
    display:none;
    place-items: center;
    gap:5px;
}

footer{
    position:fixed;
    display:block;
    bottom:0;
    width:100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    left: 0px;
    padding: 5px;
}